header, nav, main, footer{
   border: solid 1px black;
   width: 50%;
   min-height: 50px;
   margin: auto;
   margin-bottom: 10px;
   box-sizing: border-box;
   padding: 10px;
}


nav ul{
   margin: 0;
   padding: 0;
}

nav ul li{
   list-style: none;
   display: inline-block;
   margin: 10px;
}

main{
   min-height: 400px;
}

footer{
   text-align: center;
}

.content{
   min-height: 100px;
   background-color: aqua;
   box-sizing: border-box;
   padding: 10px;
   margin-bottom: 10px;
}

.content h1{
   background-color: brown;
   min-height: 20px;
   width: 50%;
   margin: auto;
}

.content div{
   background-color: aliceblue;
   margin: 10px;
   min-height: 70px;
}