* {
   margin:0;
   padding: 0;   
}

.container{
   width: 50%;
   min-height: 100px;
   padding: 10px;
   margin: 10px auto;
   border: solid black;
}

.item{
   border: solid 1px gray;
   padding: 10px;
   box-sizing: border-box;
   margin-top:10px;
   display: flex;
   justify-content: space-between;
}