form{
   width: 200px;
   margin: auto;
   background-color: antiquewhite;
   padding: 10px;
   border: solid 2px gray;
}

form div{
   margin: 10px auto;
}

.captcha, .result{
   background-color: aquamarine;
   width: 70%;
   min-height: 70px;
   border: solid 1px rebeccapurple;
   margin: 10px;
   font-size: 2em;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
}

.result{
   background-color: cadetblue;
   width: 90%;
   min-height: 100px;
   text-align: center;
}