*{
   box-sizing: border-box;
}

.container{
   width: 70%;
   border: solid 1px black;
   margin: auto;
   display: flex;
}

.nav{
   width: 20%;
   background-color: aqua;
}

.nav ul li{
   margin-bottom: 10px;
}

.content{
   border: solid 1px black;
   width: 80%;
   min-height: 100vh;
   padding: 10px;
   box-sizing: border-box;
}

.data-table{
   width: 100%;
   border-collapse: collapse;
}

.data-table td{
   border-bottom: solid 1px black;
   padding: 7px;
}

.data-table th{
   border-bottom: solid 1px black;
   padding: 7px;
   text-align: left;
   font-size: 1.2em;
}