.content{
   border: solid 1px black;
   width: 50%;
   min-height: 100vh;
   margin: auto;
   padding: 10px;
   box-sizing: border-box;
}

.data-table{
   width: 100%;
   border-collapse: collapse;
}

.data-table td{
   border-bottom: solid 1px black;
   padding: 7px;
}