.container{
   width: 50%;
   min-height:200px;
   background-color: aquamarine;
   border:solid 3px greenyellow;
   margin:10px auto;
   padding: 10px;
   display: flex;
}

table, td {
   border: solid 1px black;
   border-collapse: collapse;
   margin: 8px;
}

table td {
   padding: 8px;
}

form{
   margin: 8px;
}

.out{
   background-color: blueviolet;
   min-height: 100px;
   border: solid 1px black;
}